<div id="DeFondo">
    <h1 class="text-warning text-center m-5 font-weight-bold">REGISTRO DE CLIENTES</h1>
    <div class='contenedor'>
        <form>
            <h2 class="text-center">Nuevo Cliente</h2>
            <p>Ingrese su cedula: </p>
            <div class='input-box'>
                <input type="text" maxlength="10" placeholder='Ej. 185026...' required />
            </div>
            <p>Ingrese su nombre: </p>
            <div class='input-box'>
                <input type="text" maxlength="20" placeholder='Ej. Juan' required />
            </div>
            <p>Ingrese su apellido: </p>
            <div class='input-box'>
                <input type="text" maxlength="20" placeholder='Ej. Perez' required />
            </div>
            <p>Ingrese la ciudad en donde vive: </p>
            <div class='input-box'>
                <input type="text" maxlength="20" placeholder='Ej. Ambato' required />
            </div>
            <p>Ingrese su telefono: </p>
            <div class='input-box'>
                <input type="text" maxlength="20" placeholder='Ej. 09346828374' required />
            </div>
            <button type="submit" id="btn_Crear" class="btn btn-success m-1">Crear</button>            
            <button type="button" id="btn_Cancelar" class="btn btn-danger m-1">Cancelar</button>
        </form>
    </div>
</div>

