<div id="contenedor">
    <div class="row">
        <div class="col-6" id="listaProductos">
            <div id="headClaro">
                <div class="row">
                    <h1 class="text-center mt-5 mb-3">Lista de Productos</h1>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <input class="btn btn-dark px-5 py-1 mb-3" type="button" value="Seleccionar Cliente" (click)="buscarClientes=true">
                    </div>
                    <div class="col-1"></div>
                    <div class="col-4">
                        <input class="btn btn-dark px-5 py-1 mb-3" type="button" value="Buscar Productos" (click)="buscarProductos=true">
                    </div>
                </div>
            </div>
            <p class="my-3 h6 text-center">Por favor escoga los productos a comprar: </p>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">

                    <table class="table table-hover table-dark text-center">
                        <thead>
                            <tr>
                                <th scope="col">Numero</th>
                                <th scope="col">Nombre del Producto</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Seleccionado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of listaProductos">
                                <th scope="row">{{product.Id_Pro}}</th>
                                <th>{{product.Nombre}}</th>
                                <th>{{product.Precio}}</th>
                                <th>{{product.Stock}}</th>
                                <th><input type="checkbox" name="selecProd" id="" value="1"
                                        [(ngModel)]="product.Seleccionado" (change)="actualizarOrdenVenta($event, product.Id_Pro)"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6" id="ordenVenta">
            <div class="row" id="headOscuro">
                <h1 class="text-center mt-5 mb-3 text-white">Orden de Venta</h1>
                <h3 class="text-white text-center m-1"><strong>Cliente: </strong> {{cliente==null?'No se ha seleccionado un cliente':''}} {{cliente?.Nombre}} {{cliente?.Apellido}}</h3>
            </div>
            <h6 class=" text-white text-center mt-3 mb-1">Aquí puede editar los productos a comprar</h6>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <table class="table table-hover text-center my-3">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="listaProductosOrden.length>0">
                            <tr *ngFor="let orden of listaProductosOrden">
                                <th>{{orden.Id_Pro}}</th>
                                <th>{{orden.Nombre}}</th>
                                <th><input class="text-center" type="number" name="" min="1" [max]="orden.Stock" value="1"
                                        [(ngModel)]="orden.Cantidad" (input)="actualizarSubtotal(orden.Id_Pro)" maxLength="1"></th>
                                <th>{{orden.Subtotal}}</th>
                                <th><input type="button" class="btn btn-danger px-3 py-1" value="Eliminar" (click)="eliminarProductoOrden(orden.Id_Pro)"></th>
                            </tr>                            
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Total</th>
                                <th>{{total}}</th>
                                <th></th>
                            </tr>                            
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-1"></div>
                        <input type="button" class="btn btn-primary col-10 my-5 py-3" value="Generar Factura" (click)="IrFactura()">
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay" *ngIf="buscarClientes">
            <app-buscar-cliente (cerrar)="buscarClientes=$event" (clienteFacturar)="cliente=$event"></app-buscar-cliente>
        </div>
        <div class="overlay" *ngIf="buscarProductos">
            <app-buscar-productos (cerrar)="buscarProductos=$event" [listaProductos]="listaProductos" (productosRegresar)="actualizarProductosFiltrados($event)"></app-buscar-productos>
        </div>