*{
    margin: 0;
    padding: 0;
  }
  #contenedor{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background: url(./../../../assets/fondo.png) no-repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: cover;
    background-position: center;
  }
  
   #listaProductos{    
    height: 97vh;
    margin: 0;    
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.646);
    backdrop-filter: blur(10px);
   }
   #headClaro{    
    margin: 0;        
    background: #e1e1e1;
    min-height: 18vh;
   }
   #ordenVenta{    
    height: 97vh;    
    min-height: 100vh;
    background: rgba(46, 46, 46, 0.646);
    backdrop-filter: blur(10px);
   }
   #headOscuro{    
    margin: 0;        
    background: #383838;
    min-height: 18vh;
   }
  #regresar{
    color: rgb(249, 249, 249);;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    height: min-content;
  }
  .regresar:hover{
    background-color: linear-gradient(#fff, #ffd500) !important;
  }  
   .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */  
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .cuerpoTabla{
    max-height:65vh; 
    overflow-y: auto;
  }