<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div id="body">
    <div class="page-content container bg-white">
        <div class="page-header text-blue-d2">
            <h1 class="page-title text-secondary-d1">
                Factura
                <small class="page-info">
                    : {{factura?.Id_Fac}}
                </small>
            </h1>
    
            <div class="page-tools">
                <div class="action-buttons">
                    <a class="btn bg-white btn-light mx-1 text-95" href="#" data-title="Print">
                        <i class="mr-1 fa fa-print text-primary-m1 text-120 w-2"></i>
                        Imprimir
                    </a>
                    <a class="btn bg-white btn-light mx-1 text-95" href="#" data-title="PDF">
                        <i class="mr-1 fa fa-file-pdf-o text-danger-m1 text-120 w-2"></i>
                        Exportar
                    </a>
                </div>
            </div>
        </div>
    
        <div class="container px-0">
            <div class="row mt-4">
                <div class="col-12 col-lg-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center text-150">
                                <i class="fa fa-book fa-2x text-success-m2 mr-1"></i>
                                <span class="text-default-d3">Sistema de Facturación</span>
                            </div>
                        </div>
                    </div>
                    <!-- .row -->
    
                    <hr class="row brc-default-l1 mx-n1 mb-4" />
    
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <div>
                                <span class="text-sm text-grey-m2 align-middle">Cliente: </span>
                                <span class="text-600 text-110 text-blue align-middle">{{cliente?.Nombre}} {{cliente?.Apellido}}</span>
                            </div>
                            <div>
                                <span class="text-sm text-grey-m2 align-middle">Ruc: </span>
                                <span class="text-600 text-110 text-blue align-middle">{{cliente?.Cedula}}</span>
                            </div>
                            <div class="text-grey-m2">
                                <div class="my-1">
                                    {{cliente?.Ciudad}} - Ecuador
                                </div>
                                <div class="my-1"><i class="fa fa-phone fa-flip-horizontal text-secondary"></i> <b
                                        class="text-600"> {{cliente?.Telefono}}</b></div>
                            </div>
                        </div>
                        <!-- /.col -->
    
                        <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-center">
                            <hr class="d-sm-none" />
                            <div class="text-grey-m2">
                                <div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
                                    Factura
                                </div>
    
                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                        class="text-600 text-90">ID:</span> {{factura?.Id_Fac}}</div>
    
                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span
                                        class="text-600 text-90">Fecha de emisión:</span> {{factura?.Fecha}}</div>
    
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
    
                    <div class="mt-4">  
                        <!-- <div class="row text-600 text-white bgc-default-tp1 py-25">
                            <div class="d-none d-sm-block col-1">#</div>
                            <div class="col-9 col-sm-5">Producto</div>
                            <div class="d-none d-sm-block col-4 col-sm-2">Cantidad</div>
                            <div class="d-none d-sm-block col-sm-2">Precio Unitario</div>
                            <div class="col-2">Sub Total</div>
                        </div>
    
                        <div class="text-95 text-secondary-d3">
                            <div class="row mb-2 mb-sm-0 py-25">
                                <div class="d-none d-sm-block col-1">1</div>
                                <div class="col-9 col-sm-5">Cepillo de dientes</div>
                                <div class="d-none d-sm-block col-2">2</div>
                                <div class="d-none d-sm-block col-2 text-95">$10</div>
                                <div class="col-2 text-secondary-d2">$20</div>
                            </div>
    
                        </div> -->
    
                        <!-- <div class="row border-b-2 brc-default-l2"></div> -->
    
                        <!-- or use a table instead -->
    
                        <div class=" table-responsive">
                            <table class="table table-striped border-0 border-b-2 brc-default-l1">
                                <thead class="">
                                    <tr class="text-white">
                                        <th class="opacity-2">#</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unitario</th>
                                        <th width="140">Sub Total</th>
                                    </tr>
                                </thead>
    
                                <tbody class="text-95 text-secondary-d3">
                                    <tr *ngFor="let detalle of detFactura">
                                        <td>{{detalle.Id_Det_Fac}}</td>
                                        <td>{{obtenerProducto(detalle.Id_Pro_Per,true)}}</td>
                                        <td>{{detalle.Cantidad}}</td>
                                        <td class="text-95">${{obtenerProducto(detalle.Id_Pro_Per,false)}}</td>
                                        <td class="text-secondary-d2">${{detalle.Subtotal}}</td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
    
    
                        <div class="row">
                            <div class="col-12 col-sm-8 text-grey-d2 text-95">
                            </div>

                            <div class="col-12 col-sm-4 text-grey text-90 order-first order-sm-last">
                                <div class="row my-1 align-items-center bgc-primary-l3 p-2">
                                    <div class="col-7 text-right">
                                        <strong>
                                            Total
                                        </strong>
                                    </div>
                                    <div class="col-5">
                                        <span class="text-150 text-success-d3 opacity-2">${{factura?.Total}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <hr />
    
                        <div>
                            <span class="text-secondary-d1 text-105">Gracias por la compra</span>
                            <a href="/home" class="btn btn-outline-success btn-bold px-4 float-right mt-3 mt-lg-0 mx-1">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>