<div class="con1">
    <div class="px-5 contenedor">
        <div class="row">
            <div class="col-3"></div>
            <h1 class="text-center col-6">Seleccionar Cliente</h1>
            <div class="col-2"></div>
            <input type="button" class="btn-close btn-close-white col-1" aria-label="Close" (click)="cerrar.emit(false)">
        </div>
        <div class="row">
            <h2>Buscar por: </h2>
        </div>
        <div class="row">
            <span class="col-2"><input type="radio" value="1" name="buscarCliente" [(ngModel)]="seleccionBuscar">Id</span>
            <span class="col-2"><input type="radio" value="2" name="buscarCliente" [(ngModel)]="seleccionBuscar">Nombre</span>
            <span class="col-2"><input type="radio" value="3" name="buscarCliente" [(ngModel)]="seleccionBuscar">Apellido</span>
            <span class="col-2"><input type="radio" value="4" name="buscarCliente" [(ngModel)]="seleccionBuscar">Cedula</span>
            <span class="col-2"><input type="radio" value="5" name="buscarCliente" [(ngModel)]="seleccionBuscar">Ciudad</span>
            <span class="col-2"><input type="radio" value="6" name="buscarCliente" [(ngModel)]="seleccionBuscar">Telefono</span>
        </div>
        <div class="row my-3">
            <div class="col-1"></div>
            <input class="col-8 py-3 " type="text" name="buscarCli" placeholder="Buscar..." [(ngModel)]="filtro">
            <input type="button" class="col-2 btn btn-primary my-2 my-sm-0" value="Buscar" (click)="BuscarClientes()">
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">

                <table class="table table-hover text-center my-3">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Telefono</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cli of listaFiltradaClientes">
                            <th scope="row">{{cli.Id_Cli}}</th>
                            <th>{{cli.Cedula}}</th>
                            <th>{{cli.Nombre}}</th>
                            <th>{{cli.Apellido}}</th>
                            <th>{{cli.Ciudad}}</th>
                            <th>{{cli.Telefono}}</th>
                            <th><input type="radio" name="listadoCli" [value]="cli" [(ngModel)]="clienteSeleccionado"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <input class="col-6 p-3 btn btn-success" type="button" value="Aceptar" (click)="AceptarCliente()">
        </div>
    </div>
</div>